@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Smart Lens</h1>
    <p>Learn about    <a asp-area="" asp-controller="Home" asp-action="Privacy">Smart Lens</a></p>
</div>
