<div class="text-center">
    <h1 class="display-4">Smart Lens</h1>
    <p>Learn about    <a asp-area="" asp-controller="Home" asp-action="Privacy">Smart Lens</a></p>
</div>



<div class="card">
    <div class="card-header">
        Example
    </div>
    <div class="card-body">
        <h5 class="card-title">You will use by smartlens to object detect</h5>
        <p class="card-text">Try an example if you want image detect by smart lens.</p>
        <input type="file">
    </div>
</div>