<h1> About Smart Lens</h1>

<p>
    I developing a cloud technology-based and deep learning supported machine vision system for visually impaired individuals. Technologies I use; Load Balancing, .NET Core , python, Tensorflow Object Detection Api, OCR Technology, (n-Tier) Layered Architecture, Corporate Architecture, Client Server Architecture, Service Oriented Architecture, Rabbitmq, mssql, Entity Framework Core, Autofac IoC Container, Mostly Dependency Injection, Unit of Work design pattern, S.O.L.I.D prenciple, socket programming(Udp), Distributed programming, Kotlin, Git (Github),
    Generic Repository Pattern etc.
</p>
